@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}
/* index.css */
.review-item {
  text-align: center;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 4px;
  text-color: white;
}

.review-item img {
  width: 20px;
  height: 20px;
  border-radius: full; /* Replace with the correct Tailwind syntax */
  margin-bottom: 2px;
}

.rating {
  color: yellow-500; /* Replace text-yellow-500 with color: yellow-500 */
  text-3xl: true; /* Replace text-3xl with text-3xl: true */
}

.link-style {
  text-decoration: none;
  padding: 0;
}
